@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3 {
  text-align: center;
  color: #333;
  margin-bottom: 0px;
}

#stats {
  text-align: center;
}

.input-section {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.input-section input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
}

.ratio {
  margin-left: 10px;
  font-weight: bold;
  color: #007bff;
}

#add-button,
#rank-button,
#clear-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.3s;
}
#add-button,
#rank-button {
  background-color: #007bff;
}
#add-button:hover,
#rank-button:hover {
  background-color: #0056b3;
}
#clear-button {
  background-color: #e34d42;
}
#clear-button:hover {
  background-color: #e3291b;
}

#result-container {
  margin-top: 20px;
  flex: 1;
}
#result-container h2 {
  text-align: center;
  color: #333;
}
#result-container div {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.remove-button {
  background-color: #e34d42;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.remove-button:hover {
  background-color: #e3291b;
}

.sticky-div {
  position: fixed;
  bottom: 15px;
  left: 15px;
  right: 15px;
  width: auto; /* Make the width dynamic */
  display: flex; /* Align buttons side-by-side */
  gap: 20px; /* Add spacing between buttons */
  justify-content: flex-end; /* Align buttons to the right */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: add a subtle background */
  padding: 10px; /* Optional: add padding */
  border-radius: 10px; /* Optional: rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow */
}
